html, body {
  margin: 0px;
  padding: 0px;
  border: 0px;
}

body {
  font: 14px Roboto;
  color: #303030;
}

a {
  color: #303030;
  text-decoration: none;
}

.test-box {
  font-size: 40px;
  padding: 30px !important;
}

.test-mask {
  background: blue !important;

}

.test-tail {
  background: blue !important;
}